 {% extends 'dashboard/index.html.twig' %}

{% block content %}
    <div class="scroll-content">


            {% if n_recettes == 0 %}
                <h3>Désolé, vous n'avez rien publié !</h3>
                <a href="{{ path('recette_new') }}" class="add-one-step">Ajouter une nouvelle Recette</a>
            {% else %}


                <div class="bs-example">
                    {% for i in 0..2 %}
                         <div class="panel panel-black" id="accordion2">
                             <div class="panel-heading">
                                 <h4 class="panel-title">
                                     <a data-toggle="collapse" aria-expanded="true" data-parent="#accordion2" href="#{{ i }}">
                                         <span class="glyphicon glyphicon-minus pull-right"></span>
                                         {% if i == 0 %}
                                                Recettes en cours de Validation
                                                {% set table = recettes_enattends %}
                                                {% set validelabel = ['info', 'en cours'] %}
                                         {% elseif i == 1 %}
                                                Recettes Validées
                                                {% set table = recettes_validees %}
                                                {% set validelabel = ['success', 'validé'] %}
                                         {% else %}
                                                Recettes non validées
                                                {% set table = recettes_refusees %}
                                                {% set validelabel = ['danger', 'refusé'] %}
                                         {% endif %}
                                     </a>
                                 </h4>
                             </div>
                             <div id="{{ i }}" class="panel-collapse collapse in">
                                <div class="panel-body container-fluid table-responsive">
                                    <table class="table table-responsive table-bordered" style="width:100%;" id="recette-liste{{ i }}">
                                        <thead>
                                        <tr>
                                            <th><h5>Titre</h5></th>
                                            <th><h5>Image</h5></th>
                                            <th><h5>Status</h5></th>
                                            <th><h5>Action</h5></th>

                                        </tr>
                                        </thead>
                                        <tbody class="text-center">

                                            {% for row in table %}
                                                {% set imagesrc = asset('public/uploads/' ~ app.user.username ~ '/' ~ row.titre ~ '/' ~ row.image) %}
                                                <tr>
                                                    <td>{{ row.titre }}</td>
                                                    <td>
                                                        <span rel="popover" data-img='{{ imagesrc }}'>
                                                            <img class="img-responsive img-thumbnail"  width="45" height="40" src="{{ imagesrc }}" />
                                                        </span>
                                                    </td>
                                                    <td><span class="label label-{{ validelabel[0] }}">{{ validelabel[1] }}</span></td>
                                                    <td>
                                                        <span class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-pencil"></i></span>
                                                        <span class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                             </div>


                         </div>
                    {% endfor %}
                </div>




            {% endif %}



    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/dashboard.js') }}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#recette-liste-table0').DataTable({
                responsive: true
            });
            $('#recette-liste-table1').DataTable({
                responsive: true
            });
            $('#recette-liste-table2').DataTable({
                responsive: true
            });


        } );
    </script>
{% endblock %}
 {% block stylesheets %}
    {{ parent() }}
 {% endblock %}